* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.header {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.header ul {
    background-image: url(img/headerbg.jpg);
    background-position: center;
    background-size: cover;
    font-weight: 700;
}

h1 {
    font-size: 40px;
    font-weight: 900;

    margin: 20px 20px 20px 0px;
}

.wrapper {
    display: inline-block;
}

.content-wrapper {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.news {
    width: 50%;
    height: 70%;
    vertical-align: top;
}


iframe {
    height: 70vh;
    display: inline-block;
    width: 45%;
}

.article {
    display: inline-block;
    width: 45%;
    margin-left: 20px;
}

.stage {
    height: 70%;
    width: 45%;
}

ul.navbar li {
    display: inline-block;
    padding: 20px;
}

ul.navbar li:hover {
    background-color:  #0D47A173;
}

li a {
    text-decoration: none;
    color: #F5F5F5;
    padding: 40px 20px 10px 10px;
}

h3 {
    font-size: 30px;
    margin: 20px 20px 20px 0px;
}

.stage-article {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

p {
    margin-bottom: 15px;
}

footer {
    height: 200px;
    margin-top: 50px;
    background-color: #757575;
}

.footerlist {
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: white;
}