* {
    font-family: "Arial", "sans-serif";
    line-height: 24px;
}
h1{
    margin-left: 20px;
}

.person {
    display: inline-block;
    max-width: 18%;
    text-align: center;
    padding-left: 1%;
    vertical-align: top;
    padding-top: 100px;
}

/* START OF FOOTER */

footer {
    height: 220px;
    margin-top: 50px;
    background-color: #757575;

}

.footer {
    position: relative;
}

.footerlist {
    font-size: 17px;
    top: 50%;
    padding-top: 45px;
    margin-left: 40px;
    list-style-type: none;
}

footer ul {
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: white;
    display: block;
}

footer a:hover {
    color: #343434;
}

.copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* END OF FOOTER */