/* HEADER/NAVBAR */
ul.navbar li {
    display: inline-block;
    padding: 20px;
}

ul.navbar li:hover {
    background-color:  #0D47A173;
}

li a {
    text-decoration: none;
    color: #F5F5F5;
    padding: 40px 20px 10px 10px;
}

.header {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.header ul {
    background-image: url(../img/headerbg.jpg);
    background-position: center;
    background-size: cover;
    font-weight: 700;
}

/* END OF HEADER/NAVBAR */


div.wrapper {
    margin: auto;
    width: 1390px;
}

div.list {
    float: right;
}


div.images {
    padding-left: 160px;
    padding-top: 20px;

}

.meer {
    padding-top: 75px;
    float: left;
}

.i1 {
  padding:20px;
}

.i2 {
    padding:20px;
}

.i3 {
    padding:20px;
}

.i4 {
    padding:20px;
}

#text {
    position: absolute;
    font-weight: bold;
    font-size: 110%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.text1 {
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;
    text-transform: uppercase;
    color:black;
    font-size: 250%;
}

.text2 {
    position: absolute;
    font-weight: bold;
    font-size: 110%;
    top:75%;
    left:51%;
    color: white;
    transform: translate(-50%,-50%);
}
/* START OF FOOTER */

footer {
    height: 200px;
    margin-top: 50px;
    background-color: #757575;
}

.footer {
    position: relative;
}

.footerlist {
    font-size: 17px;
    top: 50%;
    padding-top: 45px;
    margin-left: 40px;
    list-style-type: none;
}

footer ul {
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: white;
    display: block;
}

footer a:hover {
    color: #343434;
}

.copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:10px;
    font-size: 110%;
}

footer img {
    width: 200px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-35%);
}

/* END OF FOOTER */
body {
                       font-family: 'Lato', sans-serif;
                       font-size: 20px;
                   }